@import "../../style.scss";

.stories{
    @include themify($themes){
    display: flex;
    gap: 10px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 10px 5px 18px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 5px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 5px 18px 0px rgba(0,0,0,0.75);
    margin: 20px 10px;
    background-color: themed("bg");
    color: themed("textColor");
    border-radius: 20px;
        

    .story{
        flex: 1;    
        border-radius: 10px;      
        overflow: hidden;
        position: relative;
        img{
            height: 100%;
            width: 100%;          

        }
        span{
            font-size: 12px;
            font-weight: 600;
            position: absolute;
            bottom: 12px;
            left: 10px;
          
        }
    }
}
}