.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: solid 2px lightgrey;
    position: sticky;
    top: 0px;
    

   .left {
    display: flex;
    align-items: center;  
    gap: 30px;  

    .searchbar{
        border: 1px solid lightgrey;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3px;
        gap: 10px;
    }
    input {
        border: none;
        outline: none;
        width: 500px;
    }

    }
    
    .right{
        display: flex;
        align-items: center;
        gap: 20px;

        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                object-fit: cover;
    

            }
            span{
                font-weight: 500;
            }

        }
    }
}