@import "../../style.scss";

.post{
    @include themify($themes){
    box-shadow: 10px 5px 18px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 5px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 5px 18px 0px rgba(0,0,0,0.75);
    background-color: themed("bg");
    color: themed("textColor");
    border-radius: 20px;
    margin: 20px 10px;
   
.container{
    padding: 20px;
    
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .userInfo{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
        .details{
            display: flex;
            flex-direction: column;
            .name{
                font-weight: 500;
            }
            .date{
                font-size: 12px;
            }
        }
        
    }
}
.content{
        margin: 20px 0px;
    img{
        width: 100%;
        max-height: 500px;
        margin-top: 20px;
        object-fit: cover;
    }
}

.socials{
    display: flex;
    align-items: center;
    gap: 20px;
    .item{
        display: flex;
        align-items: center;
        gap: 10px;
        span{
            font-size: 12px;
        }
    }
}
}
}
}